body{
	width: 100vw;
	height:100vh;
	background: #7ac2e6;
	font-family: Helvetica;
	margin:0;
}

.container{
	width:100%;
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}

.weibo{
	width:30rem;
	min-height:10rem;
	background:#f1f1f1;
	padding: 0.8rem;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 3px;
	padding:0.8rem;
}

.title{
	position:absolute;
	left:3rem;
	top:2rem;
}

textarea{
	resize:none;
	width:25rem;
	height:7rem;
	font-size:0.9rem;
	border:none;
	outline:none;
}


#sizeControl{
	display: none;
}
#sizeControl:checked + label>div{
	
}

.row{
	width:100%;
	height:fit-content;
}

#publish{
	float:right;
    background: orange;
    color: #f1f1f1;
    outline: none;
    border: none;	
    height: 1.6rem;
    width: 4.5rem;
    border-radius: 3px;
}

#publish:hover{
	cursor:pointer;
	color:#0e7ae6;
}

.count-holder{
	width: 30rem;
    height: 1rem;
    background: #f1f1f1;
    padding: 0.8rem;
    color:#f59542;
}

#wrapper{
	float:right;
}

#count{
	display: inline;

}

.response{
	width:30rem;
	padding:0.8rem;
	height:2rem;
	background: #f1f1f1;
	color:#666666;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    margin-top: 2.1rem;		
    border-radius: 3px;
}

.res-row{
	width:3rem;
	height:1rem;
	background: blue;

}

#avatar{
	background-image: url("/static/avatar.jpg");
	background-size: 100% 100%;	
    height: 40px;
    width: 40px;
    display: block;
    border-radius: 50%;
}

#avatar-row{
	height:3rem;
	display: flex;
	flex-direction: row;
	align-items: center;

}

#avatar-row > p{
	display: inline;
	margin-left:15px;
	color:#ef4d58;
}

#like-icon{
	background-image: url("/static/likes.svg");
	background-size: 100% 100%;
}

#comment-icon{
	background-image: url("/static/comments.svg");
	background-size: 100% 100%;

}

#forward-icon{
	background-image: url("/static/forwards.svg");
	background-size: 100% 100%;

}


.res-col{
	width:1rem;
	height:1rem;
}

.res-col-wrap{
	width:3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /*border-right: 1px solid #666666;*/
}

.res-col-wrap>div{
	/*display: inline	-block;*/
}